/* ---------------------------------------------------------------------------------------------------

In the real Indeed.ca there is a different layout for mobile devices (from desktop windowed mode of the browser)
    
CSS effects may not display properly in Trident/EdgeHTML kernel browsers

CamelCase works not well in CSS. I realize hyphen is better especially when involving Bootstrap 

CSS pre-processors can be used

--------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 500px) {
  
}

@media screen and (max-width: 1024px) {
  body {
    min-width: 500px;
  }
  .resumeNEmployer, .popularSearchesArea p, .languageArea {
    display: none;
  }
  .searchArea {
    min-height: 400px;
  }
  .searchBoxes {
    flex-direction: column;
    align-items: center;
    margin-top: 2em !important;
  }
  .what, .where {
    margin-top: 1em;
    min-width: 500px !important;
  }
  .what {
    margin-right: 12%;
  }
  .submit {
    width: 100%;
    margin-top: 2em;
  }
  .findJobsButton {
    width: 490px;
    margin-left: -12px;
    font-size: 20px !important;
  }
  .popularSearchesArea {
    min-height: 600px;
  }
  .popularSearchesArea h2 {
    margin-right: 15em;
  }
  .popularSearches {
    max-width: 500px;
    text-align: left;
  }
  .navBot {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .smallScreenEmployer {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  /* height: 100%;
  min-width: 50%;
  max-width: 100%; */
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: currentColor;
}

a, .findJobsButton, .popularSearchesButton, .smallScreenEmployer button, .deleteIcon {
  cursor: pointer;
}

button, input {
  outline: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 35px;
  /* width: 100%; */
  min-width: 1000px;
  border-width: 2px;
  border-style: none none solid none;
  border-color: rgb(228, 228, 228);
  font-size: 14px;
  color: rgb(107, 106, 106);
}

nav img {
  height: 1rem;
}

nav a {
  padding: 8px 1em;
}

.navLeft a:nth-child(2) {
  border-bottom: 2px solid rgb(0, 0, 228);
  color: black;
}

.withUnderlineHovering:hover {
  border-bottom: 2px solid rgb(0, 0, 228, 0.6);
  color: black;
}

.navLeft {
  margin: -1px 0 0 1rem;
}

.navRight {
  margin: 10px 1rem 10px 0;
}

nav .signIn {
  padding: 3px 1.5em 3px 1em;
  border-width: 2px;
  border-style: none solid none none;
  border-color: rgb(228, 228, 228);
  color: rgb(0, 0, 220);
}

nav .EnIcon {
  margin-left: 1.5em;
  padding: 0.25em 0.5em;
  background-color: rgb(228, 228, 228);
  font-weight: bold;
  color: black;
  cursor: default;
}

.FrIcon {
  padding: 3px 1.5em 3px 0.5em;
  border-width: 2px;
  border-style: none solid none none;
  border-color: rgb(228, 228, 228);
}

.FrIcon:hover {
  text-decoration: underline;
  color: black;
}

.searchIcon {
  position: absolute;
  margin-left: -1.5em;
  width: 10.5px;
  height: 10.5px;
  border: 1.5px solid rgb(168, 168, 168);
  border-radius: 50%;
  background-color: transparent;
}

.searchIcon::after {
  position: absolute;
  content: '';
  top: 11px;
  left: 9px;
  width: 6px;
  height: 1.5px;
  background-color: rgb(168, 168, 168);
  transform: rotate(45deg);
}

main a:hover, footer a:hover {
  text-decoration: underline;
}

.searchArea {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 330px;
  border-width: 2px;
  border-style: none none solid none;
  border-color: rgb(228, 228, 228);
}

.searchBoxes {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  line-height: 0.3em;
}

.searchBoxes h2 {
  font-size: 22px;
}

.searchBoxes p {
  font-size: 11px;
  color: rgb(107, 106, 106);
}

.searchBoxes input {
  font-size: 14px;
}

.what, .where {
  position: relative;
  /* width: 400px; */
  min-width: 400px;
  text-align: left;
}

.what {
  margin-left: 12%;
}

.what .searchIcon {
  margin: 14px 0 0 -2em;
  border-color: rgb(168, 168, 168);
}

.inputBox {
  position: relative;
  width: 94%;
  height: 38px;
  padding-left: 1em;
  border: 2px solid;
  border-color: rgb(168, 168, 168);
  border-radius: 5px;
  background-color: transparent;
}

.inputBox:focus {
  border-color: rgb(0, 0, 255, 0.7);
  background-color: white;
  z-index: 1;
}

.deleteIcon {
  position: absolute;
  display: none;
  bottom: 20%;
  right: 5.5%;
  z-index: 1;
  font-size: 24px;
}

.locationIcon {
  position: absolute;
  margin-left: -2em;
  margin-top: 14px;
  width: 10px;
  height: 10px;
  border: 1.5px solid rgb(0, 0, 0);
  border-top-left-radius: 75%;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  background-color: transparent;
  transform: matrix(0.49, 0.92, -0.49, 0.92, 0, 0);
}

.locationIcon::before {
  position: absolute;
  content: '';
  top: 2.5px;
  left: 2.5px;
  width: 3px;
  height: 3px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: transparent;
}

.locationIcon::after {
  position: absolute;
  content: '';
  top: -2.5px;
  left: -2.5px;
  width: 15px;
  height: 15px;
  border: 1px dashed currentColor;
  background-color: transparent;
  transform: rotate(-45deg) scaleX(1.75);
}

.locationIcon:hover {
  transform: matrix(0.64, 1.06, -0.64, 1.06, 0, 0);
}

.submit {
  align-self: flex-end;
  margin-left: 1em;
}

.findJobsButton {
  height: 43px;
  padding: 0 2rem;
  border: none;
  border-radius: 300px;
  background-color: rgba(19, 19, 255, 0.8);
  color: white;
  font-weight: bold;
}

.findJobsButton:hover {
  background-color: rgb(0, 0, 228);
}

.resumeNEmployer {
  margin-top: 1em;
  color: rgb(107, 106, 106);
}

.resumeNEmployer a, .popularSearchesArea a, .languageArea a {
  color: rgb(0, 0, 228, 0.8);
}

.resumeNEmployer a:hover, .popularSearchesArea a:hover, .languageArea a:hover {
  color: rgb(0, 0, 228, 0.6);
}

.popularSearchesArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  height: 300px;
  border-width: 7px;
  border-style: none none solid none;
  border-color: rgb(255, 61, 61);
}

.popularSearchesArea h2 {
  font-size: 22px;
  line-height: 1rem;
}

.popularSearchesTitle {
  border-bottom: 1px dashed currentColor;
}

.popularSearchesTitle:hover {
  font-weight: 500;
}

.popularSearchesButton {
  padding: 1em 1em 1em 2.5em;
  margin: 0.5em 0.2em;
  border: 2px solid;
  border-color: rgb(228, 228, 228);
  border-radius: 300px;
  background-color: transparent;
  font-size: 14px;
}

.popularSearchesButton:hover {
  background-color: rgb(228, 228, 228, 0.2);
}

.popularSearches {
  width: 800px;
  margin: 0 auto;
}

.popularSearchesArea p {
  font-size: 14px;
  color: rgb(107, 106, 106);
}

.jobNumber {
  border-bottom: 1px dashed currentColor;
}

.jobNumber:hover {
  font-weight: bold;
}

.smallScreenEmployer {
  position: relative;
  width: 80%;
  height: 250px;
  margin: auto;
  border: 2px solid rgb(228, 228, 228);
}

.smallScreenEmployer h3 {
  font-size: 22px;
}

.smallScreenEmployer h3:first-child {
  margin-top: 3em;
}

.smallScreenEmployer button {
  width: 350px;
  height: 50px;
  padding: 0 2rem;
  border: none;
  border-radius: 300px;
  background-color: rgba(19, 19, 255, 0.8);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.smallScreenEmployer button:hover {
  background-color: rgb(0, 0, 228);
}

.smallScreenEmployerLine {
  position: absolute;
  top: 1em;
  left: 2.5%;
  width: 95%;
  height: 8px;
  background-color: rgb(255, 61, 61);
}

.languageArea {
  font-size: 13px;
}

.navBot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.navBotLeft {
  margin-left: 1rem;
}

.navBotRight {
  margin-right: 1rem;
}